:root{
    --tx: #0f98f8;
    --tx-btn: #fff; 
    --tx-btn-color: #3498db;
    --tx-btn-bg: #2980B9;
    --bg-section: #B7E0FC;
    --bg-section2: #f7f7f9;
    --primary-color: #0e4bf1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #ddd;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --tittle-icon-color: #fff;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
.navbar {
    position: fixed;
    background: white;
    height: 85px;
    width: 100%;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}
.nav-menu {
    display: flex;
    gap: 30px;
    text-decoration: none;
}
.nav-menu a{
    text-decoration: none;
    color: var(--black-light-color);
}
.btn-animasi {
    transition: all 0.1s;
    -webkit-tratition: all 0.1s;
}
.btn {
    padding: 10px 40px;
    margin-top: 10px ;
    border-radius: 10px;
    float: left;
    font-size: 20px;
    color: var(--tx-btn);
    text-decoration: none;
    text-align: center;
}

.btn-color{
    background-color: var(--tx-btn-color);
    border-bottom: 5px solid var(--tx-btn-bg);
    text-shadow: 0px -2px var(--tx-btn-bg);
}
.btn:active{
    transform: translate(100px, 52px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}
.hero-container {
    display: flex;
    height: 800px;
    padding: 0 0%;

}
.hero-container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-container  h1 {
    font-size: 48px;
    margin: 15px 0;
    color: var(--tx);
}
.hero-container p {
    font-size: 18px;
}
.hero-container > img {
    width: 50%;
    align-self: right;
}
.about-container{
    height: 800px;
    margin:  100px 0;
    display: flex;
    padding: 0 10%;
}
.about-container > img{
    width: 50%;
    align-self: center;
}
.about-container > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-container  h1 {
    font-size: 48px;
    margin: 15px 0;
    color: var(--tx);
}
.about-container p{
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}
.service-container{
    background-color:var(--bg-section2) ;
    height: 750px;
    padding: 85px 10%;
}
.service-container .caption{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-container h1{
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 48px;
    color: var(--tx);
}
.service-container  p{
    padding-bottom: 80px;
    font-size: 18px;
    text-align: center;
}
.service-container .card{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.circle{
	width: 201px;
	height: 201px;
	background: #fe7506;
	border-radius: 100%;
    justify-self: center;
    margin-top: 20px;
}
.i{
	width: 201px;
	height: 201px;
	background: #fed806;
	border-radius: 100%;
    justify-self: center;
    margin-top: 20px;
}
.circle img{
    text-align: center;
    padding-top: 38%;
}
.circle > p{
    margin-top: 90px;
    
}
.melengkung {
    border-radius: 10px;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.modalDialog:target {opacity:1; pointer-events: auto;}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, rgb(198, 198, 198));
}
/*.close:hover { background:#00d9ff; }*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -10px;
    right: -12px;
    width: 24px;
    text-decoration: none;
    /*border-radius: 10px;*/
    box-shadow: 1px 1px 1px #000;
}
 
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
button {
background-color: var(--tx-btn-color);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 10px;
cursor: pointer;
width: 100%;
}
span.psw {
float: right;
}
button {
background-color: var(--tx-btn-color);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 10px;
cursor: pointer;
width: 100%;
}
span.psw {
float: right;
}
.visi-container{
    height: 750px;
    padding: 85px 10%;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-section);
}
.visi-container .visi-judul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.visi-item{
    display: flex;
}
.visi-container .visi1{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}
.visi1 > img{
    width: 200px;
    justify-content: center;
    align-items: center;
}
.visi-container .visi2{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;
}
.visi2 > img{
    width: 200px;
    justify-content: center;
    align-items: center;
}
.saran-container{
    background-color:var(--bg-section2);
    display: flex;
    height: 750px;
    padding: 85px 10%;
}
.saran-container div{
    width: 50%;
    display: flex;
    flex-direction: column;   
    margin: 10px; 
    justify-content: center;
}
.saran-container form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.saran-container .form-group > input {
    width: 350px;
    height: 40px;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--bg-section2);
}
.saran-container .form-group > textarea {
    width: 350px;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--bg-section2);
}
.saran-container .button-saran{
    justify-content: center;
    align-items: center;
    width: auto;
}
.saran-container .img{
    width: 50%;
    justify-content: center;
    align-items: center;
}
.img img{
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 15px;
    width: 350px;
}
.saran-value{
    justify-content: center;
    align-items: center;
}
.down-container {
    display: flex;
    height: 750px;
    padding: 85px 10%;
}
.down-container > div{
    width: 50%;
    flex-direction: column;
    left: 0;
    align-self: center;
}

.down-container > img{
    width: 50%;
    padding: 0 30px;
    align-self: center;
}

.down-container .down-container-value{
    display: flex;
    padding: 20px 0px;
    align-items: left;
    justify-content: left;
}

.down-container-value img{
    width: 60px;
}

.down-container-value p {
    padding-left: 10px;
    align-self: center;
}

.footer-index{
    background: var(--bg-section);   
}
.footer-index >p{
    padding: 10px;
    text-align: center;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-section);    
}
.login-container{
    width: 100%;
    display: flex;
    max-width: 850px;
    background: var(--bg-section2);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);   
}
.login-value{
    width: 400px;
}
.login-value form{
    width: 250px;
    margin: 60px auto;
}
.login-value h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
.login-value hr{
    border-top: 2px solid var(--bg-section);
}
.login-value p{
    text-align: center;
    margin: 10px;
}
.right img{
    width: 450px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.login-value > form > label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
.login-value > form > input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--bg-section2);
}
.login-value > form > a{
    padding: 8px;
    width: 252px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dashboard{
    min-height: 100vh;
   /* background-color: var(--primary-color); */
}
.dashboard.dark{
    --primary-color: #3a3b3c;
    --panel-color: #242526;
    --text-color: #ccc;
    --black-light-color: #ccc;
    --border-color: #4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --tittle-icon-color: #ccc;

}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
.nav.close{
    width: 73px;
}
.nav .logo-name{
    display: flex;
    align-items: center;
}
.nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;

}
.nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 10%;
}
.nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
.nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
.nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px; 
    border-radius: 50%;
    background-color: var(--primary-color);
}
.dashboard.dark li a:hover:before{
    background-color: var(--text-color);

}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
.nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
.dashboard.dark .nav-links li a:hover i,
.dashboard.dark .nav-links li a:hover .link-name{
 color: var(--text-color );
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);;
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 10px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
.dashboard.dark .switch:before{
    left: 20px;
}
.dashboard-body{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    height: 100%;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
.nav.close ~ .dashboard-body{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard-body .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
.nav.close ~ .dashboard-body .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard-body .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard-body .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
}
.dashboard-body .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--tittle-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: var(--box1-color);
    color: #fff;
    text-align: left;
    font-weight: bold;
}
.content-table th, 
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid var(--black-light-color);
    background-color: var(--toggle-color);
}
.content-table tbody tr:nth-of-type(even){
    background-color: var(--bg-section2);
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid var(--box1-color);
}

@media (max-width: 1000px){
    .nav{
        width: 73px;
    }
    .nav.close{
        width: 250px;
    }
    .nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    .nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    .nav ~ .dashboard-body{
        left: 73px;
        width: calc(100% - 73px);
    }
    .nav.close ~ .dashboard-body{
        left: 250px;
        width: calc(100% - 250px);
    }
    .nav ~ .dashboard-body .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .nav.close ~ .dashboard-body .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-x: scroll;
    }
}
@media (max-width: 780px){
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px){
    .dash-content .boxes .box{
        width: 100%;
    }
}
@media (max-width: 500px){
    .nav{
        width: 73px;
    }
    .nav.close{
        width: 73px;
    }
    .nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    .nav ~ .dashboard-body{
        left: 73px;
        width: calc(100% - 73px);
    }
    .nav.close ~ .dashboard-body{
        left: 73px;
        width: calc(100% - 73px);
    }
    .nav ~ .dashboard-body .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .nav.close ~ .dashboard-body .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .dashboard-body .top .sidebar-toggle{
        display: none;
    }
}