:root{
    --tx: #0f98f8;
    --tx-btn: #fff; 
    --tx-btn-color: #3498db;
    --tx-btn-bg: #2980B9;
    --bg-section: #B7E0FC;
    --bg-section2: #f7f7f9;
}
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
.navbar {
    background: white;
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}
.nav-menu {
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.btn-animasi {
    transition: all 0.1s;
    -webkit-tratition: all 0.1s;
}
.btn {
    padding: 10px 40px;
    margin-top: 10px ;
    border-radius: 10px;
    float: left;
    font-size: 20px;
    color: var(--tx-btn);
    text-decoration: none;
    text-align: center;
}
.btn-color{
    background-color: var(--tx-btn-color);
    border-bottom: 5px solid var(--tx-btn-bg);
    text-shadow: 0px -2px var(--tx-btn-bg);
}
.btn:active{
    transform: translate(100px, 52px);
    -webkit-transform: translate(0px, 5px);
    border-bottom: 1px solid;
}
.hero-container {
    display: flex;
    height: 800px;
    padding: 0 0%;

}
.hero-container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-container  h1 {
    font-size: 48px;
    margin: 15px 0;
    color: var(--tx);
}
.hero-container p {
    font-size: 18px;
}
.hero-container > img {
    width: 50%;
    align-self: right;
}
.about-container{
    height: 800px;
    margin:  100px 0;
    display: flex;
    padding: 0 10%;
}
.about-container > img{
    width: 50%;
    align-self: center;
}
.about-container > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-container  h1 {
    font-size: 48px;
    margin: 15px 0;
    color: var(--tx);
}
.about-container p{
    font-size: 18px;
    text-align: center;
}
.service-container{
    background-color:var(--bg-section2) ;
    height: 600px;
    margin: 40px 0;
    padding: 0 10%;
}
.service-container .caption{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-container h1{
    font-size: 48px;
    color: var(--tx);
}
.service-container  p{
    font-size: 18px;
    text-align: center;
}
.service-container .card{
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.circle{
	width: 201px;
	height: 201px;
	background: #fe7506;
	border-radius: 100%;
    justify-self: center;
    margin-top: 20px;
}
.i{
	width: 201px;
	height: 201px;
	background: #fed806;
	border-radius: 100%;
    justify-self: center;
    margin-top: 20px;
}
.circle img{
    text-align: center;
    padding-top: 38%;
}
.circle > p{
    margin-top: 90px;
    
}
.melengkung {
    border-radius: 10px;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
.modalDialog:target {opacity:1; pointer-events: auto;}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: linear-gradient(#fff, rgb(198, 198, 198));
}
.close:hover { background:#00d9ff; }
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -10px;
    right: -12px;
    width: 24px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
}
 
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}
button {
background-color: var(--tx-btn-color);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 10px;
cursor: pointer;
width: 100%;
}
span.psw {
float: right;
}
.down-container {
    display: flex;
    padding: 0 15%;
    align-self: center;
}

.down-container > div {
    width: 50%;
    align-self: center;
}
.down-container > div > p{
    font-size: 17px;
    width: 600px;
}

.down-container > div > img{
    width: 50px;
    padding: 0 20px;
}
.down-container > img{
    width: 50%;
}
button {
background-color: var(--tx-btn-color);
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 10px;
cursor: pointer;
width: 100%;
}
span.psw {
float: right;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-section);    
}
.login-container{
    width: 100%;
    display: flex;
    max-width: 850px;
    background: var(--bg-section2);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);   
}
.login-value{
    width: 400px;
}
.login-value form{
    width: 250px;
    margin: 60px auto;
}
.login-value h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
.login-value hr{
    border-top: 2px solid var(--bg-section);
}
.login-value p{
    text-align: center;
    margin: 10px;
}
.right img{
    width: 450px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.login-value > form > label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}
.login-value > form > input {
    width: 100%;
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--bg-section2);
}
.login-value > form > a{
    padding: 8px;
    width: 252px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}
